.plot-image-container {
  width: 100%;
  height: auto;
  min-height: 310px;
  position: relative;
  margin: 20px 0px 50px;
}

.bgColor {
  background-color: #ffffff;
}

.request-container {
  position: sticky;
  top: 0;
}

.request-button {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
@media screen and (max-width: 1112px) {
  .request-container {
    display: none;
  }
  .request-button {
    display: block;
    z-index: 99;
  }
}
